@import './app/resources.styl'

*
  position relative
  margin 0
  padding 0

  &:hover
  &:focus
    outline 0

html
  height 100vh
  scroll-behavior smooth

html
.main
  width 100%

.main
  min-height 100vh
  height auto
  font-family font-family
  font-size 62.5%
  color text-color

a
  text-decoration none
  color inherit

input
textarea
button
  border none
  font-family font-family
  font-size inherit
  color inherit
  box-shadow(none)
  outline 0
  background-color transparent