@import 'first.box'
@import 'presenting.video.wrapper'

.home-section-title
  width 100%
  padding-top 3.4em
  padding-bottom 2.5em
  font-size 3.5em
  font-weight 900
  color theme-color
  text-align center

.advantages-wrapper
  width 80%
  height auto
  margin 0 auto
  flex-parent(row, nowrap, space-between)

  .advantage-box
    flex-basis 16.5%
    height auto

    .advantage-illustration
      width 100%
      height auto

    .advantage-title
      margin-top .65em
      font-size 2.15em
      font-weight 900
      text-align center

    .advantage-text
      margin-top 1.4em
      font-size 1.6em
      font-weight normal
      line-height 1.4em
      text-align center