{% extends 'base.html' %}

{% block title %}Confirmar ítens{% endblock %}

{% block content %}
<h1 class="mount-your-kit-title">Parece que encontramos o kit<br>perfeito para você!</h1>

<div id="mounted-kit-items-wrapper">
  <div class="mounted-kit-item">
    <img src="https://backend.intelbras.com/sites/default/files/styles/image_optim/public/2019-02/ems_330_p_front.png" alt="" class="kit-item-img">
    <p class="kit-item-name">Nome do produto</p>
    <p class="kit-item-quantity">1x</p>
  </div>
  <div class="mounted-kit-item">
    <img src="https://backend.intelbras.com/sites/default/files/styles/image_optim/public/2019-02/ems_330_p_front.png" alt="" class="kit-item-img">
    <p class="kit-item-name">O maior nome de produto já visto</p>
    <p class="kit-item-quantity">3x</p>
  </div>
  <div class="mounted-kit-item">
    <img src="https://backend.intelbras.com/sites/default/files/styles/image_optim/public/2019-02/ems_330_p_front.png" alt="" class="kit-item-img">
    <p class="kit-item-name">Nome longo de produto</p>
    <p class="kit-item-quantity">2x</p>
  </div>
</div>

<div id="mounted-kit-footer">
  <p class="page-footer-option total-price-label">R$ 299,39</p>
  <p class="page-footer-option continue-button">Checar disponibilidade</p>
</div>
{% endblock %}