{% extends 'base.html' %}

{% block title %}Sua solicitação foi enviada{% endblock %}

{% block content %}
{% load static %}
<h1 class="mount-your-kit-title">Disponibilidade solicitada!</h1>
<p class="opening-page-paragraph">Agora é só aguardar: um de nossos atendentes entrará em contato com você para entender suas necessidades e confirmar a dispobilidade dos ítens em seu kit.</p>

<img src="{% static 'img/Active-Support-amico.svg' %}" alt="Ilustração de uma mulher sentada em uma poltrona com um notebook nas mãos enviando uma requisição pela internet. Do outro lado, um atendente recebe a requisição e responde a cliente." id="kit-request-sent-illustration">

<p class="redirect-link"><a href="{% url 'inicio' %}" class="inner-link">Voltar à página inicial</a></p>
{% endblock %}