{% extends 'base.html' %}

{% block title %}Problema na requisição - 400{% endblock %}

{% block content %}
{% load static %}
<div class="error-page">
  <div class="text-content">
    <h1 class="error-title">Problema na requisição</h1>
    <p class="error-description">Este erro é comumente associado a alguma falha na comunicação entre seu navegador e nosso servidor. Mas não se preocupe: é bem possível que a falha tenha sido nossa! Por isso, por favor, entre em <a href="" class="inner-link">contato</a> conosco e informe seu problema.</p>
    <p class="error-action" clickAndGo="{% url 'inicio' %}"><a href="{% url 'inicio' %}">Voltar à página inicial</a></p>
  </div>
  <img src="{% static 'img/Error-Bad Request-rafiki.svg' %}" alt="Ilustração de " class="error-illustration">
</div>
{% endblock %}