{% extends 'base.html' %}
{% load martortags %}

{% block title %}{{ object.titulo }}{% endblock %}

{% block content %}
{% load static %}
<div class="heading-box" id="article-heading-box"></div>
<img src="{{ object.imagem_capa.url }}" alt="{{ object.titulo }}" class="article-cover">

<h1 class="article-title">{{ object.titulo }}</h1>
<p class="publication-date">{{ object.data_criacao|date:"D d M Y" }}</p>

<article class="article-content">
  {{ object.conteudo|safe_markdown }}
</article>

<div class="end-buttons">
  <div class="opt-btn highlighted-btn" clickAndGo="{% url 'blog' %}">
    <a href="{% url 'blog' %}">Voltar ao blog</a>
  </div>
  <div id="share-btn" class="opt-btn">Compartilhar</div>
</div>

<div data-modal data-trigger="#share-btn" id="share-modal">
  <div class="modal-box" id="share-modal">
    <div class="modal-head">
      <p class="modal-title">Compartilhar</p>
    </div>
    <div class="modal-body">
      <div id="share-buttons">
        <div class="share-btn" clickAndGoBlank="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}{{ object.get_absolute_url }}">
          <img src="{% static 'img/whatsapp-rounded.svg' %}" alt="Compartilhar via WhatsApp" class="share-btn-icon">
          <p class="share-btn-label">WhatsApp</p>
        </div>
        <div class="share-btn" clickAndGoBlank="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}{{ object.get_absolute_url }}">
          <img src="{% static 'img/facebook-rounded.svg' %}" alt="Compartilhar via Facebook" class="share-btn-icon">
          <p class="share-btn-label">Facebook</p>
        </div>
        <div class="share-btn" clickAndGoBlank="http://twitter.com/share?text={{ object.titulo }}&url={{ request.build_absolute_uri }}{{ object.get_absolute_url }}&hashtags=wnunes,sustentabilidade,energiaSustentavel">
          <img src="{% static 'img/twitter-rounded.svg' %}" alt="Compartilhar via Twitter" class="share-btn-icon">
          <p class="share-btn-label">Twitter</p>
        </div>
      </div>
      <p id="copy-link" title="Copiar link">
        {{ request.build_absolute_uri }}{{ object.get_absolute_url }}
      </p>
    </div>
  </div>
</div>
{% endblock %}
