{% spaceless %}
<!DOCTYPE html>
<html lang="pt-br">
  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wnunes | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <main>
      <header id="header">
        <img clickAndGo="{% url 'inicio' %}" id="header-logo" src="{% static 'img/logo.png' %}" alt="Logo da empresa: Weingartner & Nunes">
        <ul id="main-menu">
          <li class="main-menu-item"><a href="">Sobre nós</a></li>
          <li class="main-menu-item"><a href="">Contato</a></li>
          <li class="main-menu-item"><a href="">Catálogo</a></li>
          <li class="main-menu-item"><a href="">Meu carrinho</a></li>
          <li class="main-menu-item highlighted-item"{% if not request.user.is_authenticated %} clickAndGo="{% url 'entrar' %}"{%endif%}>{% if request.user.is_authenticated %}{{ request.user.first_name }}{% else %}Entrar{% endif %}</li>
        </ul>
      </header>
      {% block content %}
      {% endblock %}
    </main>
    <footer></footer>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
{% endspaceless %}