{% extends 'base.html' %}
{% load static %}

{% block title %}Carrinho{% endblock %}

{% block content %}
<h1 class="page-title">Carrinho</h1>

<div class="page-header">
  <p class="pg-header-option">R$ 119,7{{ total }}</p>
  <p class="pg-header-option active-pg-option" style="margin-left: auto">Avançar</p>
</div>

<div class="cart-wrapper">
  <div class="cart-item">
    <img src="{% static 'img/sample/image--031.jpg' %}" alt="" class="cart-item-img">
    <h2 class="cart-item-name">Nome do produto</h2>
    <div class="item-details-wrapper">
      <p class="cart-item-preco">R$ 39,90</p>
      <p class="cart-item-qntd">1 unidade</p>
      <div class="cart-item-options">
        <div class="cart-item-option-btn"><span class="option-text-content disabled-item-option">-</span></div>
        <div class="cart-item-option-btn"><span class="option-text-content">+</span></div>
        <div class="cart-item-option-btn"><img src="{% static 'img/trash-icon.svg' %}" alt="Remover item do carrinho" class="delete-item-icon"></div>
      </div>
    </div>
  </div>
  <div class="cart-item">
    <img src="{% static 'img/sample/image--031.jpg' %}" alt="" class="cart-item-img">
    <h2 class="cart-item-name">Nome do produto</h2>
    <div class="item-details-wrapper">
      <p class="cart-item-preco">R$ 39,90</p>
      <p class="cart-item-qntd">1 unidade</p>
      <div class="cart-item-options">
        <div class="cart-item-option-btn"><span class="option-text-content disabled-item-option">-</span></div>
        <div class="cart-item-option-btn"><span class="option-text-content">+</span></div>
        <div class="cart-item-option-btn"><img src="{% static 'img/trash-icon.svg' %}" alt="Remover item do carrinho" class="delete-item-icon"></div>
      </div>
    </div>
  </div>
  <div class="cart-item">
    <img src="{% static 'img/sample/image--031.jpg' %}" alt="" class="cart-item-img">
    <h2 class="cart-item-name">Nome do produto</h2>
    <div class="item-details-wrapper">
      <p class="cart-item-preco">R$ 39,90</p>
      <p class="cart-item-qntd">1 unidade</p>
      <div class="cart-item-options">
        <div class="cart-item-option-btn"><span class="option-text-content disabled-item-option">-</span></div>
        <div class="cart-item-option-btn"><span class="option-text-content">+</span></div>
        <div class="cart-item-option-btn"><img src="{% static 'img/trash-icon.svg' %}" alt="Remover item do carrinho" class="delete-item-icon"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}