{% extends 'base.html' %}
{% load static %}

{% block title %}Catálogo de produtos{% endblock %}

{% block content %}
<h1 class="page-title">Catálogo</h1>

<div class="page-header">
  <a href="{% url 'catalogo_produtos' %}"><p class="pg-header-option active-pg-option">Produtos</p></a>
  <a href="{% url 'catalogo_produtos' %}"><p class="pg-header-option">Kits</p></a>
  <a href="{% url 'catalogo_produtos' %}"><p class="pg-header-option">Montar kit</p></a>
  <select class="ordering-btn">
    <option value="+recentes" selected>Mais recentes</option>
    <option value="-preco">Menor preço</option>
    <option value="+preco">Maior preço</option>
  </select>
</div>

<div id="catalog-wrapper"><!--
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--031.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--032.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--031.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--032.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--031.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--032.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--031.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--032.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--031.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--032.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--031.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--032.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--031.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>
  <div class="catalog-item">
    <img src="{% static 'img/sample/image--032.jpg' %}" alt="Sample product image" class="item-img">
    <div class="stars-group">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
      <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela, utilizada na classicação do produto pelo usuário" class="star">
    </div>
    <h3 class="item-name">Title</h3>
    <p class="item-description">Minor information</p>
  </div>-->
</div>
{% endblock %}

{% block after_script %}
<script type="text/javascript">produtosCatalogo.items = JSON.parse('{{ produtos }}');</script>
{% endblock %}