{% extends 'base.html' %}
{% load static %}

{% block title %}Catálogo{% endblock %}

{% block content %}
<h1 class="page-title">Catálogo</h1>

<div class="page-header">
  <a href="{% url 'catalogo_produtos' %}"><p class="pg-header-option">Produtos</p></a>
  <a href="{% url 'catalogo_kits' %}"><p class="pg-header-option">Kits</p></a>
  <a href="{% url 'montar_kit' %}"><p class="pg-header-option">Montar kit</p></a>
  <select class="ordering-btn">
    <option value="+recentes" selected>Mais recentes</option>
    <option value="-recentes">Mais antigos</option>
  </select>
</div>

<div id="catalog-wrapper"></div>

<div class="load-more-btn-wrapper">
  <div class="load-more-btn">
    <p class="btn-content">Carregar mais</p>
  </div>
  <div class="btn-blur"></div>
</div>

{% load my_filters %}
<script type="application/json" id="items-list">{{ produtos|json }}</script>
<script type="application/json" id="ratings-list">{{ avaliacoes|safe }}</script>
{% endblock %}