{% extends 'base.html' %}

{% block title %}Criar conta{% endblock %}

{% block content %}
<div id="login-wrapper">
  <div id="login-box">
    <h2 class="login-box-title">Registrar</h2>
    <form method="POST" class="login-form">
      {% csrf_token %}
      {{ form }}
      {% if error %}
      <p class="validation-error">Algum campo não foi devidamente preenchido!</p>
      {% endif %}
      <input type="submit" value="Criar conta" class="login-submit">
    </form>
  </div>
</div>
{% endblock %}