{% extends 'base.html' %}

{% block title %}Entrar{% endblock %}

{% block content %}

<div class="wrapper-center" id="login-wrapper">
  <div id="login-box">
    <h2 class="login-box-title">Entrar</h2>

    <form method="POST" class="login-form">
      {% csrf_token %}
      <input type="email" name="email" placeholder="Email" required class="login-field">
      <input type="password" name="senha" placeholder="Senha" required class="login-field">
      {% if error %}
      <p class="validation-error">Email ou senha incorreto(a)!</p>
      {% endif %}
      <p class="forgot-password"><a href="">Esqueci minha senha</a></p>
      <input type="submit" value="Entrar" class="login-submit">
    </form>
    
    <p class="or-option">ou</p>
    <p class="secondary-option"><a href="{% url 'criar_conta' %}">Registrar-se</a></p>
  </div>
</div>

{% endblock %}