{% extends 'base.html' %}

{% block title %}Início{% endblock %}

{% block content %}
{% load static %}
<div class="wrapper-aparted" id="first-box">
  <div id="initial-text">
    <h1 class="main-title">Energia solar</h1>
    <h2 class="main-subtitle">Você pode fazer a diferença e economizar com isso</h2>
    <p class="main-paragraph">A Wnunes é especializada em desenvolver painéis solares que ajudam a cuidar de seu lar e a salvar o meio ambiente</p>
    <div class="see-more-button-wrapper">
      <div class="see-more-button">
        <p class="see-more-text">Ver catálogo</p>
      </div>
      <div class="background-blur"></div>
    </div>
  </div>
  <img id="initial-illustration" src="{% static 'img/World-bro.svg' %}" alt="Ilustração de uma garota abraçando o mundo enquanto sorri docilmente">
</div>

<div class="wrapper-aparted" id="presenting-video-wrapper">
  <iframe id="youtube-video" src="https://www.youtube.com/embed/_iz9c1ylJgk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}