{% extends 'base.html' %}

{% block title %}{{ object.nome }}{% endblock %}

{% block content %}
{% load static %}
<div id="product-wrapper">
  <p class="product-name"></p>
  <div class="product-user-options">
    {% if request.user.is_authenticated %}<span>R$ {{ object.preco }}/unidade</span>{% endif %}
    <span><a href="{% url 'adicionar_carrinho' tipo='produto' pk=object.pk %}">Adicionar ao carrinho</a></span>
  </div>
  <p class="product-description">{{ object.descricao }}</p>
  <img src="{{ object.foto.url }}" alt="{{ object.nome }}" class="product-image">

  {% if object.avaliacoes.count %}
  <h3 class="product-section">O que outros clientes estão dizendo sobre este produto</h3>

  {% for avaliacao in object.avaliacoes.all %}
  <div class="customer-rating">
    <p class="customer-name">{{ avaliacao.cliente.get_full_name }}</p>
    <div class="rating-stars">
      {% load my_filters %}
      {% for i in avaliacao.pontuacao|times %}
        <img src="{% static 'img/star.svg' %}" alt="Ilustração de estrela" class="rating-star-icon">
      {% endfor %}
      <p class="rating-date">{{ avaliacao.data_criacao }}</p>
    </div>
    <p class="rating-text">{{ avaliacao.texto }}</p>
  </div>
  {% endfor %}
  {% endif %}

  <div class="help-box" clickAndGo="#footer">
    <p class="help-text">Precisa de ajuda?</p>
    <img src="{% static 'img/support.svg' %}" alt="Ilustração de atendente atendendo à chamada" class="help-illustration">
  </div>
</div>
{% endblock %}
{% block after_script %}
<script type="text/javascript">produtoPage.title = '{{ object.nome }}';</script>
{% endblock %}