.cart-wrapper
  width 80%
  margin 0 auto
  border(1px, solid, #ddd)
  border-radius(1.7em)
  background-color rgba(text-color, .01)

  @media (max-width 1366px)
    width 90%

  @media (max-width 900px)
    width 92%

  @media (max-width 600px)
    width 86%

  .cart-item
    width 95%
    height item-height = 19em
    padding 2.5%
    flex-parent(row, wrap, flex-start)
    align-items center
    
    &:not(:last-child)
      border-bottom 1px solid #ddd

    .cart-item-img
      width item-height
      height item-height
      border(1px, solid, #ddd)
      border-radius(2.2em)
      object-fit cover

    .cart-item-name
      margin-left 2.5em
      font-size 1.75em
      font-weight 900
      color theme-color

    .item-details-wrapper
      flex-parent(row, wrap, flex-start)
      align-items center
      margin-left auto

      .cart-item-preco
      .cart-item-qntd
        font-size 1.65em
        font-weight 700
        margin-right 1.6em
      
      .cart-item-qntd
        color #989898

      .cart-item-options
        flex-parent(row, nowrap, flex-start)
        border-radius(1em)

        .cart-item-option-btn
          width 4.4em
          height 4em
          border(1px, solid, #ddd)
          flex-parent(row, nowrap, center)
          align-items center
          background-color #fcfcfc

          &:first-child
            border-right-style none
            border-top-left-radius 1em
            border-bottom-left-radius 1em

          &:last-child
            border-left-style none
            border-top-right-radius 1em
            border-bottom-right-radius 1em

          .option-text-content
            margin-top .1em
            font-size 2.4em
            font-weight 700

            &.disabled-item-option
              color #C4C4C4

          .delete-item-icon
            flex-basis auto
            height 48%