#product-wrapper
  width 40%
  margin 0 auto
  text-align center
  
  .product-description
    width 100%
    font-size 1.7em
    font-weight 400
    line-height 1.5em

    &:nth-child(1)
      margin-top 5em

  .product-image
    max-width 100%
    height auto
    margin 10em auto 10em auto

  .product-section
    width 100%
    font-size 3.5em
    font-weight 800
    margin-bottom 2.75em

  .customer-rating
    padding pdg = 3.5em
    width calc(100% - pdg - pdg - 2px)
    margin-bottom 4em
    border(1px, solid, #ddd)
    border-radius(2em)
    text-align center

    .customer-name
      font-size 2.5em
      font-weight 700

    .rating-stars
      margin-top 1.75em
      flex-parent(row, nowrap, center)

      .rating-star-icon
        flex-basis f-bs = 1.8em
        height f-bs
        margin .35em

      .rating-date
        align-self flex-end
        margin-bottom .08em
        margin-left .8em
        font-size 1.5em
        font-weight 500
        color rgba(text-color, .6)

    .rating-text
      margin-top 1.7em
      font-size 1.7em
      font-weight 400
      line-height 1.55em
  
  .help-box
    width 28em
    margin 10em auto 0 auto
    padding 1.5em 3.5em 1.5em 3.5em
    border(1px, solid, #ddd)
    border-radius(3.25em)
    background-color rgba(text-color, .01)
    flex-parent(row, nowrap, center)
    align-items center

    .help-text
      font-size 1.7em
      font-weight 900
      margin-right 2em
    
    .help-illustration
      height 10em