.about-us-box
  width 40%
  margin 0 auto
  margin-top 5em
  margin-bottom 1em

  .about-us-illustration
    width 100%

  .about-us-topic
    margin-top 2.75em
    margin-bottom 2em
    font-size 3.5em
    font-weight 900
    text-align center

  .about-us-text
    width 80%
    margin 0 auto
    font-size 1.75em
    font-weight 500
    line-height 1.55em
    text-align center

    &:not(:last-child)
      margin-bottom 1.2em